git clone
cd Grass
pip install requests
pip install asyncio
pip install loguru
pip install fake_useragent
pip install websockets_proxy
pip install websockets
python Main.py

pip install websockets_proxy
pip install websockets==12.0
pip install fake_useragent
pip install loguru
